<launch>

<param name="use_sim_time"  value="true" />

<node pkg="icp" type="encoder" name="encoder" output="screen"/>

<include file="$(find tf_eklavya)/launch/tf.launch" />
<include file="$(find robot_localization)/launch/dual_ekf_navsat.launch" />

<node type="rviz" name="rviz" pkg="rviz" args="-d $(find icp)/rviz/config/icp.rviz" />
<node pkg="icp" type="shift_points_2" name="shift_points_2" output="screen"/>
<node pkg="icp" type="correction_maintainer" name="correction_maintainer" output="screen"/>
<node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud" args="/media/shreyanshdarshan/New\ Volume/vision/PCL/XYZ2PCD/build/pepsi_down.pcd 100 _frame_id:=/odom" output="screen"/>
<node pkg="libpointmatcher_ros" type="ICP_new" name="ICP_new" output="screen"/>

<!-- <node pkg="tf_eklavya" type="tf_eklavya" name="tf.launch" output="screen"/> -->
<!-- <node pkg="robot_localization" type="robot_localization" name="dual_ekf_navsat.launch" output="screen"/> -->

</launch>