<?xml version="1.0"?>
<launch>


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find huskey_move)/src/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find huskey_move)/src/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find huskey_move)/src/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find huskey_move)/src/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find huskey_move)/src/param/teb_local_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />
  <!--   <remap from="/cmd_vel" to="/vels" /> -->
    <param name="/use_sim_time" value="false" />         
  </node>

  <arg name="rvizconfig" default="$(find tf_eklavya)/igvc.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <!-- <node pkg="outdoor_waypoint_nav" type="switchgps" respawn="false" name="GPS_Switcher" output="screen" /> -->

 </launch>
