<launch>

	<node pkg="tf" type="static_transform_publisher" name="bl_bf" args="0 0 -0.10 0 0 0 base_link base_footprint 1" />
	<node pkg="tf" type="static_transform_publisher" name="bl_lidar" args="0.085 0 0.405 0 0 0 base_link laser 1" />
	<node pkg="tf" type="static_transform_publisher" name="bl_gps" args="0.085 -0.145 0.33 0 0 0 base_link gps 1" />
	<node pkg="tf" type="static_transform_publisher" name="bl_front_link" args="0 0 0 0 0 0 base_link front_axel_link 1" />
	<node pkg="tf" type="static_transform_publisher" name="bl_rear_link" args="-0.7 0 0 0 0 0 base_link axle 1" />
	<node pkg="tf" type="static_transform_publisher" name="bl_imu" args="0.085 -0.200 0.33 0 0 0 base_link imu 1" />

</launch>

